#box{
    width: 250px;
    height: 250px;
    border: 2px solid black;
    background: rgb(188, 183, 143);
    transition: 300ms all;

}
/*#box:hover{
    transition: 300ms all;
    background: greenyellow;
    cursor: pointer;
}*/
input{
    padding: 10px;
    width: 300px;
    font-size: 20px;
}
#datos{
    border: 2px dashed black;
    padding: 10px;
    width: 250px;
    height: 250px;
    margin-top: 10px;
    display: none;

}
#sigueme{
    width: 25px;
    height: 25px;
    position: absolute;
    display: block;
    background:yellow;
    opacity: 0.6;
    border: 3px solid black;
    border-radius: 999px;
}